.header-bg {
  padding: 65px 0px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menu-container {
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
  align-items: center;

}
.menu-container li {
  color: var(--cor-texto-branca);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  z-index: 20 !important;
}

#burguer {
  display: none;
  width: 24px;
}

@media (max-width: 1000px) {
  .menu-container li a {
    font-size: 14px;
  }

  .logo-header img {
    width: 150px;
  }

  .botao {
    padding: 8px 24px;
  }
}

@media (max-width: 800px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    position: relative;
    z-index: 99;
  }

  #burguer {
    display: block;
    justify-self: end;
  }

  #nav {
    display: none;
    grid-column: 1/-1;
    background-color: var(--cor-texto-branca);
    padding: 32px 16px;
    width: 300px;
    justify-self: center;
    border-radius: 4px;
    position: absolute;
    top: 50px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.05);
  }

  #nav a {
    color: var(--cor-texto-cinza);
  }

  #menu {
    display: none;
    grid-column: 1/-1;
  }

  .contato {
    color: var(--cor-texto-branca) !important;
  }
}
